nav li {
    list-style: none;
    margin: 10px 20px;
    font-size: 30px;
}

a, a:active {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

body {
    font-size: 150%;
    font-family: Verdana;
}

table {
    margin:0px;padding:0px;
    Xwidth:90%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    Xwidth:100%;
    height:100%;
    margin:0px;padding:0px;
}
tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
} tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
} tr:hover td{

}
th {padding: 3px;}
tr:nth-child(odd){ background-color:#e5e5e5; }
tr:nth-child(even)    { background-color:#ffffff; } td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    Xfont-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
} tr:last-child td{
    border-width:0px 1px 0px 0px;
} tr td:last-child{
    border-width:0px 0px 1px 0px;
} tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
thead th{
    background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

    background-color:#4c4c4c;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    Xfont-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
thead th:hover{
    background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

    background-color:#4c4c4c;
}
thead th:first-child{
    border-width:0px 0px 1px 0px;
}
thead th:last-child{
    border-width:0px 0px 1px 1px;
}

th span {
    cursor: pointer;
}